.cart-wrapper{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    justify-content: flex-end;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
.cart{
    z-index: 2;
    height: 100%;
    width: 385px;
    background-color: #fff;
    transform: translateX(100%);
    padding: 30px;
    display: grid;
    grid-template-rows: max-content;
}
.cart h2{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    height: max-content;
}
.cart-items{
    width: 100%;
    height: calc(100% - 166px);
    overflow: auto;
    margin: 30px 0;
}
.cart-items::-webkit-scrollbar{
    width: 4px;
    background-color: #dcdcdc;
    border-radius: 8px;
}
.cart-items::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: #9D9D9D;
}
.cart-card{
    width: 100%;
    height: 119px;
    display: flex;
    align-items: center;
    column-gap: 21px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #F3F3F3;
}
.cart-card img{
    width: 70px;
}
.card-additional{
    width: 194px;
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.card-text{
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.card-text p{
    max-height: 34px;
    overflow: hidden;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    word-break: break-word;
}
.card-text h3{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.card-button{
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB !important;
    border-radius: 8px;
    background-image: url('../images/remove-cart.svg');
    background-position: center;
    background-size: 11px;
    background-repeat: no-repeat;
}


.cart-purchase{
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.price-summary{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.confirm-purchase{
    width: 100%;
    padding: 18px 0;
    background-color: #9DD558 !important;
    border-radius: 18px;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background-image: url('../images/arrow-right.svg');
    background-position: calc(100% - 29px) center;
    background-repeat: no-repeat;
}
.cart-empty{
    z-index: 2;
    height: 100%;
    width: 385px;
    background-color: #fff;
    transform: translateX(100%);
    padding: 30px;
}
.empty-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    width: 285px;
}
.empty img{
    width: 120px;
}
.empty-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 9px;
}
.empty-button{
    width: 245px;
    height: 55px;
    background-color: #9DD458 !important;
    border-radius: 18px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    background-image: url('../images/arrow-left.svg');
    background-position: 31px center;
    background-repeat: no-repeat;
}
.cart-purchased{
    z-index: 2;
    height: 100%;
    width: 385px;
    background-color: #fff;
    transform: translateX(100%);
    padding: 30px;
}
.purchased{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.purchased-inner{
    width: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
}
.purchased-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 9px;
}
.purchased-text h3{
    color: #87C20A;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}
.purchased-text p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.4;
}




.cart-anim{
    animation: cart-shown .6s ease forwards;
}
@keyframes cart-shown {
    100%{
        transform: translateX(0);
    }
}
.no-scroll{
    overflow: hidden;
}