.items{
    width: 100%;
    margin-top: 39px;
}
.items-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.items-heading input{
    padding: 15px 15px 15px 46px;
    background: url('../../src/images/search.svg') no-repeat 18px center;
    background-size: 15px 15px;
    border: 1px solid #F3F3F3;
    border-radius: 10px;
    outline: none;
}
.items-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-gap: 40px 20px;
    width: 100%;
}
.item-card {
    width: 100%;
    height: 260px;
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    padding: 20px 30px;
    transition: all .5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.item-card:hover{
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
}
.item-image{
    width: 100%;
    position: relative;
}
.item-image img{
    width: 100%;
}
.item-like{
    position: absolute;
    top:0;
    left:0;
    width: 32px;
    height: 32px;
    border-radius: 7px;
    border: 1px solid #F8F8F8;
    background-color: #fff;
    background-image: url('../images/button-like.png');
    background-size: 14px 12px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .3s ease;
}
.fav-added{
    background-image: url('../images/button-unlike.svg');
    background-color: #FEF0F0;
}
.card-name{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.card-bottom{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.pricing-title{
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #BDBDBD;
}
.card-price{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.card-add{
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    background-image: url('../images/card-plus.svg');
    background-position: center;
    background-size: 11px;
    background-repeat: no-repeat;
    transition: all .3s ease;
}
.card-added{
    background-color: #89F09C;
    background-image: url('../images/card-added.svg');
}